<header>
    Create Nuisance Report
</header>
<main>
    <form>
        <table>
            <thead>
                <tr>
                    <th>thing1</th>
                    <th>thing2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>thing3</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>thing4</td>
                    <td><input></td>
                </tr>
            </tbody>
        </table>
    </form>
    <a routerLink=".."><button class="btn btn-primary">BACK</button></a>
</main>
