<header>
    <h1>
        Create Nuisance Report
    </h1>
</header>
<main>
    <form>
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <td>Witness' Name</td>
                    <td><input/></td>
                </tr>
                <tr>
                    <td>Witness' Phone Number</td>
                    <td><input/></td>
                </tr>
                <tr>
                    <td>Baddie's Name</td>
                    <td><input/></td>
                </tr>
                <tr>
                    <td>Location Name</td>
                    <td><input/></td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td><input/></td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td><input/></td>
                </tr>
                <tr>
                    <td>Picture Link &#40;Optional&#41;</td>
                    <td><input/></td>
                </tr>
                <tr>
                    <td>Extra Info</td>
                    <td><input/></td>
                </tr>
            </tbody>
        </table>
    </form>
    <section id="buttonsSection">
        <a routerLink=".."><button class="btn btn-primary">BACK</button></a>
        <a routerLink=".."><button class="btn btn-primary">SUBMIT</button></a>
    </section>
</main>
