<body>
    <table class="table table-striped table-bordered table-light">
        <thead class="thead-light">
            <tr>
                <th (click)="sortByLocation()" class="table-category" [class.sortedBy]="currentSortColumn == 'location'">Location</th>
                <th (click)="sortByBaddieName()" class="table-category" [class.sortedBy]="currentSortColumn == 'baddieName'">Baddie's Name</th>
                <th (click)="sortByDate()" class="table-category" [class.sortedBy]="currentSortColumn == 'date'">Time Reported</th>
                <th (click)="sortByStatus()" class="table-category" [class.sortedBy]="currentSortColumn == 'status'">Status</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>    
        <tbody class="">
            <tr 
                *ngFor="let report of reports"
            >
                <td>{{ report.locationName }}</td>
                <td>{{ report.baddieName }}</td>
                <td>{{ report.timeReported }}</td>
                <td>{{ report.status }}</td>
                <td>
                    <button 
                        class="btn btn-info"
                        (click)="showMoreInfo(report)"
                    >More Info</button>
                </td>
                <td>
                    <button 
                        class="btn btn-danger"
                        (click)="deleteReport(report)"
                    >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
