<body>
    <p>Click a category to sort by it!</p>
    <table class="table table-striped table-bordered table-light">
        <thead class="thead-light">
            <tr>
                <th 
                    (click)="sortByLocation()" 
                    class="table-category" 
                    [class.sortedBy]="currentSortColumn.valueOf() == 'locationDesc' || currentSortColumn.valueOf() == 'locationAsc'"
                >
                    Location
                </th>
                <th 
                    (click)="sortByBaddieName()" 
                    class="table-category" 
                    [class.sortedBy]="currentSortColumn == 'baddieNameDesc' || currentSortColumn == 'baddieNameAsc'"
                >
                    Baddie's Name
                </th>
                <th 
                    (click)="sortByDate()" 
                    class="table-category" 
                    [class.sortedBy]="currentSortColumn == 'dateDesc' || currentSortColumn == 'dateAsc'"                
                >
                    Time Reported
                </th>
                <th 
                    (click)="sortByStatus()" 
                    class="table-category" 
                    [class.sortedBy]="currentSortColumn == 'statusDesc' || currentSortColumn == 'statusAsc'"                
                >
                    Status
                </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>    
        <tbody class="">
            <tr 
                *ngFor="let report of reports"
            >
                <td>{{ report.locationName }}</td>
                <td>{{ report.baddieName }}</td>
                <td>{{ report.timeReported.toLocaleDateString() }} {{ report.timeReported.toLocaleTimeString() }}</td>
                <td>{{ report.status }}</td>
                <td>
                    <button 
                        class="btn btn-info"
                        (click)="showMoreInfo(report)"
                    >More Info</button>
                </td>
                <td>
                    <button 
                        class="btn btn-secondary"
                        (click)="modifyReport(report)"
                    >Modify</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
