<body>
    <header>
        <h1>Report A Nuisance To The NCT Here!</h1>
    </header>
    <main>  
        <app-map></app-map>
        <a routerLink="createReportPage"><button class="btn btn-primary">CREATE NUISANCE REPORT</button></a>
        <app-more-info-box
            [report] = 'moreInfoReport'
            *ngIf="showingMoreInfo"
            (close)="closeMoreInfo()"
        ></app-more-info-box>
        <app-nuisance-table
            (moreInfo)="showMoreInfo($event)"
        ></app-nuisance-table> 
    </main>
</body>